<div class="board-panel">
  <div class="board-panel-header">
    <div class="">
      <a class="link" href="#">
        <b>Complete title  of the board</b>
      </a>
    </div>
    <div class="">
      <a class="link" href="#">
        <i class="fa fa-star fa-fw"></i>
      </a>
      <a class="link" href="#">
        <i class="fa fa-lock fa-fw"></i> Private
      </a>
      <a class="link" href="#">
        <i class="fa fa-sliders fa-fw"></i> Settings
      </a>
    </div>
  </div>

  <div class="board-panel-body">
    <card-list *ngFor="let list of lists" [list]="list"></card-list>

    <!-- <div class="card-container">
      <div class="card card-inverse dark-card">
        <div class="card-header">
          <div class="d-flex justify-content-end">
            <div class="mr-auto p-2">
              <a class="add-card" (click)="addList()">
                <i class="fa fa-plus fa-fw"></i> Add new list
              </a>
            </div>
          </div>
        </div>
      </div>
    </div> -->
  </div>
</div>
