.board-container {
  background-color: #d8d8d8;
  height: 100%;
  width: 100%;
}

.board-cards {
  height: calc(100% - 41px);
  max-height: 100%;
  overflow-y: auto;
  white-space: nowrap;
}

.board-cards .card-container {
  display: inline-block;
  height: 100%;
  max-width: 300px;
  padding: 10px;
  width: 300px;
}

@media(max-size: 786px) {

}

@media(max-size: 940px) {

}

@media(max-size: 1140px) {

}

.board-cards .card-container .card {
  border: none;
  -moz-box-shadow: 0 2px 1px #bbb;
  -webkit-box-shadow: 0 2px 1px #bbb;
  box-shadow: 0 2px 1px #bbb;
}

.board-cards .card-container .card .card {
  border: none;
  -moz-box-shadow: 0 2px 1px #ccc;
  -webkit-box-shadow: 0 2px 1px #ccc;
  box-shadow: 0 2px 1px #ccc;
}

.board-cards .card-container .card a {
  color: #555;
}

.board-cards .card-container > .card .card-header,
.board-cards .card-container > .card .card-footer {
  border-color: #f1f1f3;
}

.board-cards .card-container > .card,
.board-cards .card-container > .card > .card-block {
  max-height: 100%;
}

.board-cards .card-container > .card > .card-block {
  background-color: #f7f7f9;
  padding: 10px;
  overflow-y: auto;
}

.board-cards .card-container .card .card-block .card .card-block {
  padding: 5px;
}

.card-block > .card {
  margin: 0 0 10px 0;
  width: 100%;
}

.add-card {
  cursor: pointer;
  text-align: center;
}

.text-center { text-align: center; }
