<div class="card board-card">
  <div class="card-block">
    <div class="d-flex justify-content-end">
      <a class="mr-auto p-2" [routerLink]="[board.id]">
        <h3 class="card-title">
          <b>{{board.title}}</b>
        </h3>
        <p class="card-text">{{board.description}}</p>
      </a>
      <div class="p-2">
        <button class="btn btn-outline-secondary btn-sm"
            (click)="toggleFavorite()">
          <i class="fa" [ngClass]="getFavoriteClass()"></i>
        </button>
        <button class="btn btn-outline-secondary btn-sm">
          <i class="fa fa-ellipsis-h"></i>
        </button>
      </div>
    </div>
  </div>
</div>
