<div class="list">
  <div class="list-header">
    <div class="d-flex justify-content-end">
      <div class="mr-auto p-2">
        <input class="simple-input" type="text" [(ngModel)]="list.title">
      </div>
      <div class="p-2">
        <div ngbDropdown class="d-inline-block">
          <a class="edit-list" id="listDropdown-{{list.id}}" ngbDropdownToggle></a>
          <div class="dropdown-menu">
            <button class="dropdown-item" (click)="removeList()">
              <icon name="remove"></icon> Remover
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="list-cards">
    <board-panel-card *ngFor="let card of list.cards"
      [card]="card"></board-panel-card>
  </div>
  <a class="list-footer" (click)="addCard()">
    <i class="fa fa-plus fa-fw"></i> Add card
  </a>
</div>
