<div class="app-container">
  <div class="flex-header">
    <nav class="navbar navbar-boards p-2">
      <div class="d-flex justify-content-between">
        <div class="p-2">
          <a [routerLink]="['/boards']">
            <i class="fa fa-th-large"></i> <b>Boards</b>
          </a>
        </div>
        <div class="p-2">
          <a [routerLink]="['/home']">
            <b>Campaign Manager</b>
          </a>
        </div>
        <div class="p-2">
          <a href="#">
            <i class="fa fa-plus"></i>
          </a>
          <a href="#">
            <i class="fa fa-info"></i>
          </a>
          <a href="#">
            <i class="fa fa-bell-o"></i>
          </a>
          <a href="#">
            <i class="fa fa-user-circle-o"></i>
          </a>
        </div>
      </div>
    </nav>
  </div>

  <div class="flex-body">
    <router-outlet></router-outlet>
  </div>
</div>
