<div class="boards-panel">
  <div class="boards-panel-header">
    <div class="">
      <b>My Boards</b>
    </div>
    <div class="">
      <a class="link" (click)="addBoard()">
        <i class="fa fa-plus"></i> New Board
      </a>
    </div>
  </div>

  <div class="boards-panel-body">
    <h2 class="board-category">
      <i class="fa fa-star"></i> Favorite Boards
    </h2>

    <div class="boards">
      <board-card *ngFor="let board of getFavoriteBoards()"
        [board]="board"></board-card>
    </div>

    <h2 class="board-category">
      <i class="fa fa-th-large"></i> My Boards
    </h2>

    <div class="boards">
      <board-card *ngFor="let board of boards"
        [board]="board"></board-card>
    </div>
  </div>
</div>
