<form class="board-panel">
  <div class="board-panel-header">
    <div class="title">
      <input class="simple-input"
        type="text"
        name="board-title"
        [(ngModel)]="board.title">
    </div>
    <div class="controls">
      <a class="link" (click)="addList()">
        <i class="fa fa-plus fa-fw"></i> List
      </a>
      <a class="link" href="#">
        <i class="fa fa-star fa-fw"></i> Favorite
      </a>
      <a class="link" href="#">
        <i class="fa fa-lock fa-fw"></i> Private
      </a>
      <a class="link" href="#">
        <i class="fa fa-sliders fa-fw"></i> Settings
      </a>
    </div>
  </div>

  <div class="board-panel-body">
    <board-panel-list *ngFor="let list of board.lists"
      [list]="list"></board-panel-list>
  </div>
</form>
